
  <h1 class="text-center">Users</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': isActivePage}" [routerLink]="" (click)="toggleActivePage(true)">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': !isActivePage}" [routerLink]="" (click)="toggleActivePage(false)">Ban & Deleted</a>
    </li>
  </ul>

  <!-- Active clubs page -->
  <div *ngIf="isActivePage">
    <input class="form-control mt-3" type="text" name="searchName" [(ngModel)]="searchName" (ngModelChange)="search()" placeholder="Search...">
    <div *ngIf="getActiveUsers().length > 0">
      <p class="mt-3">Number of active users: {{getActiveUsers().length}}</p>
      <div *ngFor="let userSubArray of getTuple(getActiveUsers(), itemPerRow)" class="row text-center">
        <div *ngFor="let user of userSubArray" class="col-3">
          <div class="card mt-3">
            <div class="image pt-3">
              <a routerLink="/users/{{user._id}}">
              <img [attr.src]="user.profilePicture" class="card-img-top" alt="...">
              </a>
            </div>
            <hr>
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text lead">{{user.appRole}}</p>
              <!-- <button type="button" class="btn   btn-primary" routerLink="/users/{{user._id}}">Click here</button> -->
            </div>  
          </div>
        </div>
      </div>
    </div>
    <p class="mt-3" *ngIf="getActiveUsers().length === 0">There is no active users</p>
  </div>

  <!-- Ban users -->
  <div *ngIf="!isActivePage">
    <input class="form-control mt-3" type="text" name="searchName" [(ngModel)]="searchName" (ngModelChange)="search()" placeholder="Search...">
    <div *ngIf="getBanUsers().length > 0">
      <h4 class="mt-4">BAN</h4>
      <p class="mt-3">Number of ban users: {{getBanUsers().length}}</p>
      <div *ngFor="let userSubArray of getTuple(getBanUsers(), itemPerRow)" class="row text-center">
        <div *ngFor="let user of userSubArray" class="col-3">
          <div class="card mt-3">
            <div class="image pt-3">
              <a routerLink="/users/{{user._id}}">
              <img [attr.src]="user.profilePicture" class="card-img-top" alt="...">
              </a>
            </div>
            <hr>
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text lead">{{user.appRole}}</p>
              <!-- <button type="button" class="btn   btn-primary" routerLink="/users/{{user._id}}">Click here</button> -->
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div *ngIf="getDeletedUsers().length > 0">
      <h4 class="mt-4">DELETE</h4>
      <p class="mt-3">Number of deleted users: {{getDeletedUsers().length}}</p>
      <div *ngFor="let userSubArray of getTuple(getDeletedUsers(), itemPerRow)" class="row text-center">
        <div *ngFor="let user of userSubArray" class="col-3">
          <div class="card mt-3">
            <div class="image pt-3">
              <a routerLink="/users/{{user._id}}">
              <img [attr.src]="user.profilePicture" class="card-img-top" alt="...">
              </a>
            </div>
            <hr>
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text lead">{{user.appRole}}</p>
              <!-- <button type="button" class="btn   btn-primary" routerLink="/users/{{user._id}}">Click here</button> -->
            </div>
          </div>  
        </div>
      </div>
    </div>
    <p class="mt-3" *ngIf="getBanUsers().length === 0 && getDeletedUsers().length === 0">There is no ban nor deleted users</p>
  </div>

