<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-uppercase" routerLink="/">Clubito</a>
    <form class="d-flex">
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button> -->
      <button type="button" class="btn btn-light">
        Club Requests <span class="badge bg-secondary">{{requestsNum}}</span>
      </button>
      <button type="button" class="btn btn-light" (click)="logout()">Log out</button>
    </form>
  </div>
</nav>