<div class="myContainer">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-info text-uppercase" routerLink="/users">Users <span class="badge bg-light text-dark">{{usersNum}}</span></button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success text-uppercase" routerLink="/clubs">Clubs <span class="badge bg-light text-dark">{{clubsNum}}</span></button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-warning text-uppercase" routerLink="/clubs/requests">Club Requests <span class="badge bg-light text-dark">{{requestsNum}}</span></button>
        </div>
    </div>
</div>