  <h1 class="text-center">Log in</h1>
  <form (submit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailId" name="email" aria-describedby="emailHelp" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordId" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="alert alert-danger mt-3" *ngIf="errorMessage != null">
    <strong>{{ errorMessage }}</strong>
  </div>